################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj
/dist
/.vs/xSkrape.APIWrapper.InProc.Sample/v15
